<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">404</span>
        <div class="mb-4 lead">La página que buscas no fue encontrada.</div>
        <button (click)="cancelar()" type="button" id="btCancelar" class="btn btn-warning btn-lg mt-2"
          data-toggle="modal" data-target="#modelId">
          Regresar
        </button>
      </div>
    </div>
  </div>
</div>
