<div class="media col-8 mt-2 border border-primary align-items-center ">
  <a class=" media-left" href="#">
    <img class="mr-3 ml-3 mt-3" src="https://picsum.photos/50/50?image={{producto.uid}}" alt="">
  </a>
  <div class="media-body justify-content-center">
    <h4>{{producto.nombre}}</h4>
    
    <p>Precio: ${{producto.precio}}</p>
    <p>Marca: {{producto.marca}}</p>
    <p>Descripción: {{producto.descripcion}}</p>
    <p>Existencia: {{producto.existencia}} </p>

    <table class="tg border border-dark">
        <tr>
          <th><b>Atr</b></th>
          <th><b>Valor</b></th>
          <th><b>Unidad</b></th>
        </tr>
        <tr *ngFor="let item of producto.especificacion; let i = index" [ngStyle]="{'background-color':(i % 2 == 0)?'gray':'white'}" > 
          <th class="tg-0lax">{{item.atributo}}</th>
          <th class="tg-0lax">{{item.valor}}</th>
          <th class="tg-0lax">{{item.unidad}}</th>
        </tr>
      </table>
  </div>

  <button (click)="cancelar()" type="button" id="btCancelar" class="btn btn-warning btn-lg ml-2 mt-2" data-toggle="modal"
    data-target="#modelId">
    Regresar
  </button>
</div>